body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-color: #E6E6FA;
    color: #727371;
}

.x4 {
    background-color: #D8BFD8;
    color: #727371;
}

.x8 {
    background-color:#DDA0DD;
    color: white;
}

.x16{
    background-color: #EE82EE;
    color: white;
}

.x32{
    background-color:  #DA70D6;
    color: white;
}

.x64{
    background-color: #BA55D3;
    color: white;
}

.x128{
    background-color: #9932CC;
    color: white;
}

.x256{
    background-color: #9400D3;
    color: white;
}

.x512{
    background-color: #8A2BE2;
    color: white;
}

.x1024{
    background-color: #9370DB;
    color: white;
}

.x2048{
    background-color: #6A5ACD;
    color: white;
}

.x4096 {
    background-color: #4B0082;
    color: white;
}

.x8192 {
    background-color: #483D8B;
    color: white;
}